body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #FFB6C1;
	border-radius: 0;
	border :0;
}

#logo-img {
	background: url('../img/name-logo-white.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /*Name */
	font-family: 'Lora', serif;
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 25px;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggler{
	clear: both;
	margin-top: 40px;
	margin-left: 15px;
}

.navbar-header button.navbar-toggler, .navbar-header .navbar-toggler-icon{
	border : 1px solid #61122f;
}

/******* Large devices only ***********/
@media (min-width: 1200px) {

}

/******** Medium devices only *********/
@media (min-width: 992px) and (max-width: 1199px) {
	/* Header */
	#logo-img {
		background: url('../img/name-logo-med.png');
		width: 100px;
		height: 100px;
		margin: 5px 5px 5px 0;
	}

}

/********* Small devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
	/* Header */
	#logo-img {
		display: none;
	}

	.navbar-header button.navbar-toggler {
		margin-top: 5px;

	}


}

/********* Extra small devices only *****/
@media (max-width:767px) {
  #logo-img {
    display: none;
  }
  /*Header */
  .navbar-brand {
  	padding-top: 10px;
  	height: 80px;
  }
  /* name */
  .navbar-brand h1 {
  	padding-top: 10px;
  	font-size: 5vw;  /* 1vw= 1%of viewport width */
  }
  /*toggler icon */
  .navbar-header .navbar-toggler-icon {
  	width: 20px;
  	padding-left: 8px;
  	padding-right: 8px;
  }

}
